In [3]:
print("Hello World!")

Hello World!

In [4]:
fname=input("What is your first name?:")

What is your first name?:Dharani

In [9]:
print(fname)

Dharani

In [10]:
sname=input("What is your surname?:")

What is your surname?:Nachimetla

In [11]:
print(fname,sname)

Dharani Nachimetla

For loops are useful for executing a command over a large number of items. You can create a for loop:

In [1]:
for letter in '123':
    #print(letter.upper())
    print(letter)

1
2
3

### Data Types

#### Integers, Floats, Lists, Dictionaries, Tuples

##### Integers are for representing whole numbers:
* rank = 10
* eggs = 12
* people = 3

##### Floats represent continuous values:
* temperature = 10.2
* rainfall = 5.98
* elevation = 1031.88

#### Strings represent any text:
message = "Welcome to our online shop!"
name = "John"
serial = "R001991981SW"

#### Lists represent arrays of values that may change during the course of the program:
members = ["Sim Soony", "Marry Roundknee", "Jack Corridor"]
pixel_values = [252, 251, 251, 253, 250, 248, 247]

#### Tuples represent arrays of values that are not to be changed during the course of the program:
vowels = ('a', 'e', 'i', 'o', 'u')
one_digits = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

#### Dictionaries represent pairs of keys and values:
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}
volcano_elevations = {"Glacier Peak": 3213.9, "Rainer": 4392.1}

##### Keys of a dictionary can be extracted with:
phone_numbers.keys()

##### Values of a dictionary can be extracted with:
phone_numbers.values()

In [1]:
# The name after "for" (e.g. letter) is just a variable name
# You can loop over dictionary keys:
phone_numbers = {"Anubha S":"+918682929928","Swaraj D":"+919998200919"}
for name in phone_numbers.keys():
    print(name)
    
for phone in phone_numbers.values():
    print(phone)

Anubha S
Swaraj D
+918682929928
+919998200919

In [2]:
# Define a function with any attribute (say a)
def cube_volume(a):
    return a * a * a

# Call the function with its name & pass the value of attribute a
cube_volume(3)

27

In [15]:
# Get any input
message1 = input("Type a greeting with Hello, Hi or Hey: ")

# convert input text to lowercase
message=message1.lower()

# Write a conditional block of multiple conditions:
if "hello" in message:
    print("Hello!")
elif "hi" in message:
    print("Hi!")
elif "hey" in message:
    print("Hey!")
else:
    print("I don't understand")

Type a greeting with Hello, Hi or Hey: Hey there fellow
Hey!

The input function converts any input to a string, but you can convert it back to int or float:

In [26]:
x = 2
ystr = input('What is X? Enter any positive integer <5: ')
y=int(ystr)
if x == y:
    print("Yes - you guessed X correctly")
else:
    print("No. Sorry. Wrong Guess. Bye")

What is X? Enter any positive integer <5: 2
Yes - you guessed X correctly

### Inputs 

#### 1. Input variables in program

In [16]:
marks = [89,92,78,83,91]
marks

[89, 92, 78, 83, 91]

#### Interesting pipe %s operator in Python 2 & 3.
This pipe operator helps embed any one or multiple variables inside another say output string. Order in which these variables will appear is same as the order of the variables in the program.

In [29]:
name = "Deb"
experience_years = 1.5
print("Hi %s, you have %s years of experience." % (name, experience_years))

Hi Deb, you have 1.5 years of experience.

#### 2. Loading file inputs (.csv from same directory)

In [1]:
# Load pandas libraries to read csv
# Read csv into a data frame (can call it any name - df is popular)
# Can use this syntax "from pandas import read_csv". But more common is to
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/PhilippeCodes/World-Happiness-Report-Data-Analysis/master/World%20Happiness%20Report.csv")

In [2]:
# Check if you have loaded data set called df
df.head()

,Country,Happiness Rank,Happiness Score,Economy,Family,Health,Freedom,Generosity,Corruption,Dystopia,Job Satisfaction,Region
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,94.6,Western Europe
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,93.5,Western Europe
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,94.5,Western Europe
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,93.7,Western Europe
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,91.2,Western Europe

In [4]:
# To get basic statistical info on the data set
df.describe()

,ID,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
count,495.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,470.000000,495.000000
mean,247.000000,78.829787,5.370728,0.927830,0.990347,0.579968,0.402828,0.134790,0.242241,2.092717,2016.000000
std,143.038456,45.281408,1.136998,0.415584,0.318707,0.240161,0.150356,0.111313,0.131543,0.565772,0.817323
min,0.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,2015.000000
25%,123.500000,40.000000,4.509000,0.605292,0.793000,0.402301,0.297615,0.059777,0.152831,1.737975,2015.000000
50%,247.000000,79.000000,5.282500,0.995439,1.025665,0.630053,0.418347,0.099502,0.223140,2.094640,2016.000000
75%,370.500000,118.000000,6.233750,1.252443,1.228745,0.768298,0.516850,0.173161,0.315824,2.455575,2017.000000
max,494.000000,158.000000,7.587000,1.870766,1.610574,1.025250,0.669730,0.551910,0.838075,3.837720,2017.000000

In [5]:
# To get information about the features incl null & datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 13 columns):
ID                               495 non-null int64
Country                          495 non-null object
Region                           495 non-null object
Happiness Rank                   470 non-null float64
Happiness Score                  470 non-null float64
Economy (GDP per Capita)         470 non-null float64
Family                           470 non-null float64
Health (Life Expectancy)         470 non-null float64
Freedom                          470 non-null float64
Trust (Government Corruption)    470 non-null float64
Generosity                       470 non-null float64
Dystopia Residual                470 non-null float64
Year                             495 non-null int64
dtypes: float64(9), int64(2), object(2)
memory usage: 50.4+ KB

#### 3. Loading file inputs (.csv from URL).
You may want to load from some URL in case of large dataset that you dont want to store locally. However please note if the source changes then a lot of your code will not work & you have to re load from another source.

In [7]:
# Load data say from some raw github dataset
# let's open the mercedes benz dataset for demonstration
# Download the dataset from the below link & only for the features X1 & X2
#https://www.kaggle.com/aditya1702/mercedes-benz-data-exploration/data
url='https://raw.githubusercontent.com/krishnaik06/Complete-Feature-Engineering/master/mercedesbenz.csv'
df = pd.read_csv(url, usecols=['X1', 'X2'])
df.head(150)

     X1  X2
0     v  at
1     t  av
2     w   n
3     t   n
4     v   n
..   ..  ..
145   s   m
146  aa  as
147   i  ap
148   l  ae
149   i  as

[150 rows x 2 columns]